<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">

(function( $ ){
   $.fn.myfunction = function() {
    $(".secretinfo").hide();
});
      return this;
}; 
})( jQuery );	

$('.secretinfo').myfunction();

</script>

<!-- <div id = "hide">
<p>sfAFSafsaSf</p>
</div>
<div id ="show">
	<p>mafl;maf;lamf;lamf;lm</p>
</div> -->


<div class = "secretinfo">
<!-- <p class = "hide"> -->
Here is my business idea... I

would like to create a website that

explains and offers information on how I

lost over 100 pounds.I would like the

website to be named weightlossnow.info.

        The page it brings up displays a

before and after picture of myself with

written words: I went from 260 lbs.to 150

lbs., find out how for only $19.99, no

gimmicks. no pills. no shakes. nothing to

buy. no exercise. Just the facts. Based

on scietific evidence. If not fully

satisfied full money back guarantee.

        On the display page, the first

page, there would be a place to pay with

debit or credit card, and the payments

would be linked to a bank account.

        Written there would be the words:

If you are not satisfied with the

information provided, email

weightlossnow.info@gmail.com requesting

that your money be refunded, and it will

be.

        Once the person has paid, an

information page is brought up next. The

information page reads as follows: Here

is how I did it! I began my weight loss

journey two years ago. In the first year

I ate much smaller portions and less in

general then what my body was used to

eating. In the second year my body had

adjusted to the decrease in calories and

I was only maintaining my weight but not

losing more.

        To continue the weight loss

pattern, I needed to shock my system like

I did originally with the decrease in

calories.I decided to go with a

practical, smart and healthy approach.I

decided to listen to and learn from the

most famous, yet the most simple,

scientific evidence and advice when it

comes to weight loss, which is calorie

measurement.

        A calorie is a unit of energy

that builds cells and gives energy to the

body.The body needs a certain amount of

calories in order to function. When the

body has an intake of calories that is

less than the amount required for the

body's function, the body draws energy

(calories) from it's fat reserves. It

burns that energy and the fat and that is

how weight loss occurs scientifically.

        I did research and discovered

that a safe and effective calorie intake

level for myself was 1,000 calories

daily. After one year of only weight

maintenence but not weight loss, I began

to be precise with the amount I consumed

daily and I began to lose weight once

again, and fast, about 1-2 pounds a day!

        Therefore my advice to you as

someone interested in losing weight would

be to first, do research on the right

amount of daily calories for yourself.

Second, to keep an exact measurement of

your daily calorie intake by simply and

mathematically tracking your calories,

because your body needs just the right

amount of energy to be healthy and look

it's best!


        I would suggest to you that Once

you reach your ideal weight, to lose an

extra ten pounds beyond that using the

calorie count strategy, allowing you to

have free space to eat freely without the

necessity for calorie counting. When you

reach your ideal weight once again, you

would continue your calorie count to

recreate a free space for calorie

counting freedom, and then repeat the

pattern.

        It's an amazing feeling waking up

in the morning excited to step on the

scale, knowing you will see positive

results on your weight loss dream and

this is the best way to make your dream

come true.

        I know you found this interesting

and helpful. Lots of luck on your

journey! Sincerely, Naomi
</div>